.do {

  display: none;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    display: block;
  }
}

.do__list {
  @include flex(30px);
}

.do__title {
  @extend %title;
  margin-bottom: 50px;
}

.do__item {
  position: relative;
}

.do__subtitle {
  color: $add-white;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  position: absolute;
  bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
}