.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-colour;
}
.footer .footer__container{
display: flex;
justify-content: center;
flex-direction: column;
gap: 60px;
@media screen and (min-width: 768px) {
  column-gap: 165px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:center;
 }
    @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 70px;
    align-items: flex-start;
    }
}
.footer__content-address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: center;
}

.footer__map {
  color: $add-white;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
}

.footer__date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.42px;
  text-decoration: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.join__title {
  @extend %footer-title;
  text-transform: uppercase;
  line-height: normal;
 text-align: center
}

.footer-soc {
  @include flex(10px);
  align-items: center;
    @media screen and (min-width: 1200px) {
       text-align: left;
      }
}

.footer-soc__link {
  background-color: #ffffff1a;
  @include flex(0);
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-soc__icon {
  fill: $add-white;
}

.footer__container {
  display: flex;
  gap: 76px;
}

.footer__form {
display: block;
  @media screen and (min-width: 1200px) {
    @include flex(12px);
    }
}

.footer__form-subscribe {
  margin-left: 93px;
  padding-top: 10px;
}

.footer__form-text {
  @extend %footer-title;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;

}

.footer__form-input {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  letter-spacing: 0.48px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  width: 358px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.btn__icon {
  fill: $add-white;
  position: absolute;
  right: 30px;
}