.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.social-link {
    display: flex;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), ;
}

.icon-social {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: $accent-color;
}

.social-link:hover .icon-social,
.social-link:focus .icon-social {
    fill: $add-white;
}