.logo{
    font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
text-decoration: none;
  
}
.logo__colortext {
  color: $accent-color;
}
.header__logo {
color: $main-color; 
margin-right: 93px;
}
.logo__footer {
  margin-bottom: 20px;
  color: $add-white;
  display: flex;
  justify-content: center;
    @media screen and (min-width: 1200px) {
     justify-content: left;
      }   
}
