.logo{
    font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-right: 93px;
  text-decoration: none;
}
.header__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  color: $main-color;
  margin-right: 93px;
  text-decoration: none;
}
.logo__footer {
  margin-bottom: 20px;
  color: $add-white;
}
