%title {
    color: $main-color;
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;
}
%footer-title {
    color: $add-white;
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 0.42px;
}